<div class="signin-container">
  <mat-card>
    <mat-card-header>
      <mat-card-title>Criar Conta</mat-card-title>
    </mat-card-header>

    <mat-card-content>
      <form [formGroup]="signinForm" (ngSubmit)="onSubmit()">
        <mat-form-field appearance="outline">
          <mat-label>Nome Completo</mat-label>
          <input matInput formControlName="fullName">
          @if (signinForm.get('fullName')?.errors?.['required'] && signinForm.get('fullName')?.touched) {
            <mat-error>Nome completo é obrigatório</mat-error>
          }
        </mat-form-field>

        <mat-form-field appearance="outline">
          <mat-label>Email</mat-label>
          <input matInput type="email" formControlName="email">
          @if (signinForm.get('email')?.errors?.['required'] && signinForm.get('email')?.touched) {
            <mat-error>Email é obrigatório</mat-error>
          }
          @if (signinForm.get('email')?.errors?.['email'] && signinForm.get('email')?.touched) {
            <mat-error>Email é inválido</mat-error>
          }
        </mat-form-field>

        <mat-form-field appearance="outline">
          <mat-label>Senha</mat-label>
          <input matInput type="password" formControlName="password">
          @if (signinForm.get('password')?.errors?.['required'] && signinForm.get('password')?.touched) {
            <mat-error>Senha é obrigatória</mat-error>
          }
          @if (signinForm.get('password')?.errors?.['pattern'] && signinForm.get('password')?.touched) {
            <mat-error>A senha deve conter pelo menos 8 caracteres, incluindo maiúsculas, minúsculas, números e caracteres especiais</mat-error>
          }
        </mat-form-field>

        <button mat-raised-button color="primary" type="submit">
          Criar Conta
        </button>
      </form>
    </mat-card-content>
  </mat-card>
</div>
